@page "/"
@inject NavigationManager NavigationManager
@inject UserInfo UserInfo
@inject NotifierService Notifier

<link rel="stylesheet" href="css/Style.css" />

<h1>Login</h1>

<p>Please enter username and password below:</p>

<p><font color="red">@Error</font></p>

<EditForm Model="UserInfo.Login" OnValidSubmit="submitLogIn">
    <div class="form-field">
        <label>Username:</label>
        <div>
            <input @bind="UserInfo.Login.Username" />
        </div>
    </div>

    <div class="form-field">
        <label>Password:</label>
        <div>
            <input type="password" @bind="UserInfo.Login.Password" />
        </div>
    </div>
    <br />

    <button type="submit">
        Login
    </button>
</EditForm>

@code {
    public string Error = "";


    async Task submitLogIn()
    {
        if (UserInfo.Login.Username == "admin" && UserInfo.Login.Password == "admin")
        {
            UserInfo.Authenticate();
            await Notifier.Update("Login", 1);
            NavigationManager.NavigateTo("/scenarios");
        }
        else
        {
            Error = "Username and password combination not found.";
        }
    }
}
