<!--
Copyright 2020 Kansas State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!--Used postimg.cc to get urls for images-->
<!-- Page that displays help for the website -->
@page "/instructions"
@inject IJSRuntime JS

    <h1>Instructions</h1>

    <!--Create TabControl to make tabs for page-->
    <TabControl>
        <!--First Tab-->
        <TabPage Text="Instructions for the Scenarios Page">
            <!--Contants on page in first tab-->
            <h2>Instructions for the Scenarios Page</h2>
            <h4>Video Walk-through</h4>
            <!--Video embedding code from Kapwing.com-->
            <div style="height: 0; padding-bottom: calc(56.25%); position:relative; width: 100%;"><iframe allow="autoplay; gyroscope;" allowfullscreen height="100%" referrerpolicy="strict-origin" src="https://www.kapwing.com/e/6090bbf7a7f93e0036955af4" style="border:0; height:100%; left:0; overflow:hidden; position:absolute; top:0; width:100%" title="Embedded content made on Kapwing" width="100%"></iframe></div><p style="font-size: 12px; text-align: right;">Content made on <a href="https://www.kapwing.com/" target="_blank" rel="noopener noreferrer">Kapwing</a></p>
            
            <h4>Purpose</h4>
            <div style="margin:20px 30px">
                <p>
                    The Distribution Simulator Map allows users to view independent grocery stores in rural Kansas and select any
                    existing store or location as a distribution drop-off site.  The drop-off site is a location where a wholesale
                    distributor could, hypothetically, deliver the combined order of several grocery stores.
                    The map outputs a list of stores within a specific radius surrounding the selected drop-off site,
                    which users can alter in order to find a scenario in which a group of stores can meet the wholesaler’s
                    minimum buying requirement by combining orders. For simplicity, this map automatically assumes $25,00
                    is the weekly minimum buying requirement.
                </p>
            </div>
            <h4>Loading Stores</h4>
            <div style="margin:20px 30px">
                <p>
                    Click the “Reload All Stores and Distributors” button to add all independent rural grocery stores and distributers to the map.<br />

                    <img src="https://i.postimg.cc/P58j1kSL/Map-And-Button.png" style="width: 700px;" />
                    <br />

                    A store color key will appear after loading the stores. <br />

                    This map uses population as a proxy for the store’s weekly purchasing capacity.
                    It assumes that a store located within a community of less than 1,000 people will have a weekly purchase amount less than $10,000;
                    a store located within a community of between 1,000 and 2,000 people will have a weekly purchase amount between $10,000 and $25,000;
                    and a store located within a community of more than 2,000 people will have a weekly purchase amount greater than $25,000. <br />

                    <div style="width: 100%;">
                        <img src="https://i.postimg.cc/7ZSRxPBN/Population-Key.png" style="width: 600px;" />
                        <!--<img src="https://i.postimg.cc/8zv2jmCM/WPAKey.png" style="width: 480px; float: right;" />--><!--THe image for weekly minimum key-->
                    </div>
                </p>
            </div>

            <h4>Generating a Radius</h4>
            <div style="margin:20px 30px">
                <p>
                    Click anywhere on the map to set that point as the center of the radius.
                    The center indicates the hypothetical distribution drop-off site.<br />
                    The default radius size is 25 miles. To change this, type the desired size in “Radius Size” textbox.<br />
                    Click “Generate Radius” to create radius. <br />
                </p>
                <p>Notes:</p>
                <ul>
                    <li>There can only be one radius on the map at a time.</li>
                    <li>To change radius size or location, “Generate Radius” must be clicked again to create a new one.</li>
                </ul>
                <img src="https://i.postimg.cc/QN9gmnw4/Population-Map-NRad.png" style="width: 1000px;" />
            </div>

            <!--Instructions for changing variable-->
            <!--<h4>Changing Variable</h4>
    <div style="margin:20px 30px">
        <p>
            There are two variables, Population and Weekly Purchasing Amount, that can be selected in the “Variable” drop down box. <br />

            <img src="https://i.postimg.cc/jqp0K1xt/Variable.png" style="width: 480px;" />
        </p>
    </div>-->

            <h4>Store List and Summary</h4>
            <div style="margin:20px 30px">
                <p>
                    After selecting the distribution drop-off site and radius, the map generates a list of stores captured within the radius.
                    These stores could potentially partner to combine orders to meet a wholesaler’s minimum buying requirement.
                </p>

                <ul>
                    <li>The store at the center of the radius is the hypothetical distribution drop-off site. It cannot be deselected.</li>
                    <li>All other stores within the radius appear in this list.</li>
                    <li>The box next to a store can be checked or unchecked to either add or remove it from the scenario.</li>
                </ul>
                <img src="https://i.postimg.cc/Kv1YBPM2/Population-Summary-New.png" style="width: 400px;" />
                <p>
                    The map then creates a summary of the stores captured within the radius.
                    This summary indicates whether or not the stores in the list can meet the minimum buying requirement by combining orders.
                </p>
                <img src="https://i.postimg.cc/XJNjJdbt/Population-Summary.png" style="width: 700px;" />
            </div>
        </TabPage>
        <!--Second tab-->
        <TabPage Text="Examples">
            <!--Contants of page for second tab-->
            <h2>Examples</h2>
            <h4>Removing a store from the scenario:</h4>
            <ol>
                <li>User selects Store A in Northeast Kansas as a secondary distribution facility with a radius of 20 miles.</li>
                <li>Store B, Store C, and Store D are within the 20 miles radius. This scenario combines their orders.</li>
                <li>
                    However, based on the ordering capacity of each store, only Stores A, B, and C need to combine ordersto meet
                    the minimum buying requirement.
                </li>
                <li>Store D is removed from the scenario.</li>
                <li>The map outputs the distance that Stores B and C must travel to pick up their orders from Store A.</li>
            </ol>

            <h4>Adding a store to the scenario:</h4>
            <ol>
                <li>User selects Store E in Southwest Kansas as a secondary distribution facility with a radius of 20 miles.</li>
                <li>Store F is within the 20 miles radius. This scenario combines their orders.</li>
                <li>
                    However, based on the ordering capacity of each store, the combined orders of Stores E and F do not meet the
                    minimum buying requirement.
                </li>
                <li>
                    User adds Store G, which is outside the 20-mile radius, to the scenario. Now, the combined orders of Stores
                    E, F, and G meet the minimum buying requirement.
                </li>
                <li>The map outputs the distance that Stores F and G must travel to pick up their orders from Store E.</li>
            </ol>
        </TabPage>
        <!--Third tab-->
        <TabPage Text="FAQ">
            <!--Contants of page for third tab-->
            <h2>Frequently Asked Questions</h2>
            <p>
                Why does this map use population to determine a store’s weekly purchase amount?
            </p>
            <ul><li>
                There is little data on the average weekly purchase amount for individual grocery stores in Kansas.
                However, based on independent surveys and itnerviews, the Rural Grocery Initiative has found a correlation between city size 
                and the average purchasing amount of rural grocery stores in the state.
            </li></ul>

        </TabPage>
    </TabControl>



