<!--
Copyright 2020 Kansas State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!-- Page that displays help for the website -->
@page "/instructions"
@inject IJSRuntime JS

    <h1>Instructions</h1>

    <!--Create TabControl to make tabs for page-->
    <TabControl>
        <!--First Tab-->
        <TabPage Text="Instructions for the Scenarios Page">
            <!--Contants on page in first tab-->
            <h2>Instructions for the Scenarios Page</h2>
            <h4>Purpose</h4>
            <div style="margin:20px 30px">
                <p>
                    The purpose of this page is to be able to view all the stores on a map and to generate radiuses around any existing store or location. 
                    From there, you can create and alter a list of stores that are within the radius to see if the group meets either a minimum purchasing
                    amount or population.
                </p>
            </div>
                <h4>Loading Stores</h4>
                <div style="margin:20px 30px">
                    <p>
                        Clicking the “Reload All Stores and Distributors” button will add all stores and distributers to the map.<br />

                        <img src="https://i.postimg.cc/P58j1kSL/Map-And-Button.png" style="width: 480px;" />
                        <br />

                        A store color key will appear after loading in stores. Called either “Weekly Purchasing Amount” or “Population” based off of what variable is selected. <br />

                        <div style="width: 100%;">
                            <img src="https://i.postimg.cc/7ZSRxPBN/Population-Key.png" style="width: 480px;" />
                            <img src="https://i.postimg.cc/8zv2jmCM/WPAKey.png" style="width: 480px; float: right;" />
                        </div>
                    </p>
                </div>

                <h4>Generating a Radius</h4>
                <div style="margin:20px 30px">
                    <p>
                        <img src="https://i.postimg.cc/Vk9KxG6G/Radius.png" style="width: 60%;" />
                        <br />

                        Clicking anywhere on the map, including a store, will set that point as the center (or location) of the radius.<br />
                        The default radius size is 25 miles. To change this, type desired size in “Radius Size” textbox.<br />
                        Click “Generate Radius” to create radius. (Stores must be loaded in) <br />

                        <img src="https://i.postimg.cc/0y1tHR8K/Radius-Size.png" style="width: 480px;" />
                    </p>

                    <p>Notes:</p>
                    <ul>
                        <li>There can only be one radius on the map at a time.</li>
                        <li>To change radius size or location, “Generate Radius” must be clicked again to create a new one.</li>
                    </ul>
                </div>

                <h4>Changing Variable</h4>
                <div style="margin:20px 30px">
                    <p>
                        There are two variables, Population and Weekly Purchasing Amount, that can be selected in the “Variable” drop down box. <br />

                        <img src="https://i.postimg.cc/jqp0K1xt/Variable.png" style="width: 480px;" />
                    </p>
                </div>

                <h4>Stores and Scenario Information</h4>
                <div style="margin:20px 30px">
                    <p>
                        Only appears after a radius has been generated.
                    </p>

                    <p>
                        <b><u>Main List</u>:</b> <br />
                        <img src="https://i.postimg.cc/d0xN67Dw/Store-List.png" style="width: 480px;" />
                    </p>
                    <ul>
                        <li>If a store was selected as the radius center, it is considered the secondary distributer. This store cannot be deselected.</li>
                        <li>All other stores that are within the radius appear in this list.</li>
                        <li>The checkbox next to a store can be checked (or unchecked) to add (or remove) it from the scenario</li>
                    </ul>
                    <p><b><u>Summary</u>:</b></p>
                    <img src="https://i.postimg.cc/9XTgPQ2H/Summary.png" style="width: 480px;" />
                    <ul>
                        <li>Number of stores selected is shown on first line.</li>
                        <li>The total population/weekly purchasing amount for all stores in the radius, depending on which variable is selected, is shown on the third line.</li>
                        <li>The total population/weekly purchasing amount for all selected stores, depending on which variable is selected, is shown on the fourth line.</li>
                        <li>The estimated minimum population/purchasing amount, depending on which variable is selected, is shown on the fifth line. This is the suggested goal for a scenario.</li>
                        <li>The last line in summary tells if the selected stores amount hits the minimum.</li>
                    </ul>
                </div>
</TabPage>
        <!--Second tab-->
        <TabPage Text="Examples">
            <!--Contants of page for second tab-->
            <h2>Examples</h2>
            <h4>Example 1:</h4>
            <ol>
                <li>User selects Store A in Northeast Kansas as a secondary distribution facility with a radius of 20 miles.</li>
                <li>Store B, Store C, and Store D are within the 20 miles radius. This scenario combines their orders.</li>
                <li>
                    However, based on the ordering capacity of each store, only Stores A, B, and C need to combine ordersto meet
                    the minimum buying requirement.
                </li>
                <li>Store D is removed from the scenario.</li>
                <li>The map outputs the distance that Stores B and C must travel to pick up their orders from Store A.</li>
            </ol>

            <h4>Example 2:</h4>
            <ol>
                <li>User selects Store E in Southwest Kansas as a secondary distribution facility with a radius of 20 miles.</li>
                <li>Store F is within the 20 miles radius. This scenario combines their orders.</li>
                <li>
                    However, based on the ordering capacity of each store, the combined orders of Stores E and F do not meet the
                    minimum buying requirement.
                </li>
                <li>
                    User adds Store G, which is outside the 20-mile radius, to the scenario. Now, the combined orders of Stores
                    E, F, and G meet the minimum buying requirement.
                </li>
                <li>The map outputs the distance that Stores F and G must travel to pick up their orders from Store E.</li>
            </ol>
        </TabPage>
        <!--Third tab-->
        <TabPage Text="FAQ">
            <!--Contants of page for third tab-->
            <h2>Frequently Asked Questions</h2>
            <p>
                Why are there two different variables?<br />
                Why is there a population variable?
            </p>
            <ul><li>
                Not all stores have a known have an average weekly purchasing amount, however The Rural Grocery Initiative has found a correlation
                between city size and their average purchasing amount. This allows stores that don’t have a known average weekly purchasing amount to 
                still find scenarios that might work for them.
            </li></ul>

        </TabPage>
    </TabControl>



