<!--
Copyright 2020 Kansas State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!-- Page that displays information on about this website and is the landing page of the website -->
@using GroceryLibrary
@using GroceryLibrary.Models
@using Microsoft.AspNetCore.Mvc.Razor
@page "/"
@model RuralGroceryNetwork.Pages.About

<h1>About</h1>

<h3>Purpose of the Rural Grocery Distribution Network Simulator</h3>

<p>
    @Html.DisplayName(model => model.Page[0].Content)
    Many rural grocery stores have limited ordering capacity due to the size of the communities they serve.
    This makes it difficult for some rural grocery stores to meet minimum buying requirements from wholesale
    food distributors.<br />
    This distribution simulation map identifies potential partnerships between rural grocery stores that could
    combine orders to meet minimum buying requirements. The map creates various distribution scenarios.
</p>

<h3>About the data</h3>
<p>
    The distribution simulation map contains data for all independent grocery stores in the state of Kansas,
    including:
</p>
<ol>
    <li>the name of the store</li>
    <li>where it is located</li>
    <li>its estimated weekly ordering capacity.</li>
</ol>
<p>
    Weekly ordering capacity is an indication of a store's ability to meet minimum buying requirements.
    The map uses two sets of data to calculate weekly ordering capacity: 1) weekly purchase amount, obtained
    from existing RGI survey data when available, and 2) population, obtained from the census bureau.
    Population provides a rough estimate of a store’s weekly purchase amount.
    <br />
    Users may toggle between either variable to create distribution scenarios.
</p>

<h3>Example 1:</h3>
<ol>
    <li>User selects Store A in Northeast Kansas as a secondary distribution facility with a radius of 20 miles.</li>
    <li>Store B, Store C, and Store D are within the 20 miles radius. This scenario combines their orders.</li>
    <li>
        However, based on the ordering capacity of each store, only Stores A, B, and C need to combine ordersto meet
        the minimum buying requirement.
    </li>
    <li>Store D is removed from the scenario.</li>
    <li>The map outputs the distance that Stores B and C must travel to pick up their orders from Store A.</li>
</ol>

<h3>Example 2:</h3>
<ol>
    <li>User selects Store E in Southwest Kansas as a secondary distribution facility with a radius of 20 miles.</li>
    <li>Store F is within the 20 miles radius. This scenario combines their orders.</li>
    <li>
        However, based on the ordering capacity of each store, the combined orders of Stores E and F do not meet the
        minimum buying requirement.
    </li>
    <li>
        User adds Store G, which is outside the 20-mile radius, to the scenario. Now, the combined orders of Stores
        E, F, and G meet the minimum buying requirement.
    </li>
    <li>The map outputs the distance that Stores F and G must travel to pick up their orders from Store E.</li>
</ol>

