@page "/nodes"

@inject Node Node

<AuthorizeView>
	<link rel="stylesheet" href="css/Style.css" />
	<h1>Stores</h1>

	<div class="Nodes-infos">

		<NodeEditor NodeState="Node.State" />
	</div>
</AuthorizeView>

@code {

}
