<!--
Copyright 2020 Kansas State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!-- MainLayout.razor file calls this to creates the navigation bar on the left side of site. -->

    <div class="top-row pl-4 navbar navbar-dark">
        ﻿<!-- Upper Portion of the Nav Menu -->
        <a class="navbar-brand" href="">Rural Grocery Distribution<br /> Network Simulator </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <!-- Bottom Portion of Nav Menu -->
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-info" aria-hidden="true"></span> About
                </NavLink>
                <AuthorizeView>
                    <!-- Only available if autheticated -->
                    <!--<NavLink class="nav-link" href="scenarios" Match="NavLinkMatch.All">
                        <span class="oi oi-globe" aria-hidden="true"></span> Scenarios
                    </NavLink>-->
                    <NavLink class="nav-link" href="routes" Match="NavLinkMatch.All">
                        <span class="oi oi-globe" aria-hidden="true"></span> Distrubution Simulator
                    </NavLink>
                    <NavLink class="nav-link" href="rgi" Match="NavLinkMatch.All">
                        <span class="oi oi-aperture" aria-hidden="true"></span> Rural Grocery Initiative
                    </NavLink>
                    <!--<NavLink class="nav-link" href="trucks" Match="NavLinkMatch.All">
                        <span class="oi oi-vertical-align-top" aria-hidden="true"></span> Trucks
                    </NavLink>-->
                    <!--Checks to see if the current user is an admin, if not it will not load the Admin tab.
                    As of right now, files for generating Admin page are labeled  as Store pages (Nodes?)-->
                    <NavLink class="nav-link" href="help" Match="NavLinkMatch.All">
                        <span class="oi oi-question-mark" aria-hidden="true"></span> Help
                    </NavLink>
                    @if (IsAdmin(context.User.Identity.Name))
                    {
                        <NavLink class="nav-link" href="nodes" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Admin
                        </NavLink>
                    }
                    

                </AuthorizeView>
            </li>
        </ul>
    </div>

    @code {

        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        //Toggles whether the nav menu is collapsed or not
        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }

        /*Creates an AdminCheck object which will be able to tell if the current user
        is an Admin using the users username that's given to the method. Will return a bool, true if 
        user is an Admin, else false*/ 
        private bool IsAdmin (string name)
        {
            AdminCheck admin = new AdminCheck();
            bool b = admin.IsAdmin(name);
            return b;
        }
    }
