

<div class="form-field">
    <label>Name:</label>
    <div>
        <input @bind="ScenarioState.Name" placeholder="Enter Scenario Name" />
    </div>
</div>
<div class="form-text">
    <label>Description:</label>
    <div>
        <textarea @bind="ScenarioState.Description" placeholder="Descripe the Scenario" />
    </div>
</div>



<div class="ArcGIS">
    <br />
    <div class="form-field">
        <h4>ArcGIS software link</h4>
        <label>Server_URL:</label>
        <div>
            <input @bind="ScenarioState.Server_URL" />
        </div>
    </div>
    <div class="form-field">
        <label>ClientID:</label>
        <div>
            <input @bind="ScenarioState.ClientID" />
        </div>
    </div>
    <div class="form-field">
        <label>Client_Secret:</label>
        <div>
            <input @bind="ScenarioState.Client_Secret" />
        </div>
        <br />
        <button title="Button to test Connection" class="btn-1">Test Connection</button>
    </div>

       
</div>


@code {


    [Parameter] public ScenarioState ScenarioState { get; set; }


}
