
<div class="form-field">
    <label>Name:</label>
    <div>
        <input @bind="TruckState.Name" />
    </div>
</div>

<div class="form-field">
    <label>Capacity:</label>
    <div>
        <input @bind="TruckState.Capacity" />
    </div>
</div>

<div>
    <label> Refrigerated</label>
    <input type="checkbox"  @bind="TruckState.Refrigerated"  />   
</div>

<div class="form-field">


    <input type="checkbox" @bind="TruckState.Start" />
    <label>Given Start Location:</label>
    <div>
        <input disabled="@(!TruckState.Start)" @bind="TruckState.Start_Location_x" />
        <input disabled="@(!TruckState.Start)" @bind="TruckState.Start_Location_y" />

        <button class="btn-1"><img src="img/location.png" /></button>
       
    </div>
</div>


<div class="form-field">
    <input type="checkbox" @bind="TruckState.End" />
    <label>Given End Location:</label>
    <div>
        <input  disabled="@(!TruckState.End)" @bind="TruckState.End_Location_x" />
        <input disabled="@(!TruckState.End)" @bind="TruckState.End_Location_y" />

        <button class="btn-1"><img src="img/location.png" /></button>
       
    </div>

</div>
    <br />
    <button class="btn-1">Add Truck</button>


@code {

    [Parameter] public TruckState TruckState { get; set; }



}
